*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

.header{
    width: 100%;
    display: flex;
    height: 70px;
    position: sticky;
    top: 0;
    background-color: #66cea6;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    transition: 0.7s;
}
.header img{
    width:100px;
    height:80px
}
.header h2 {
    color: white;
    order: 2;
    font-size: 40px;
}
.content{
    width:100%;
    transition: 0.7s;
}
.content img{
    width:60%;
    height: 70vh;
    display: block;
    margin: auto;
    border: 3px solid #36e09f;
    border-radius: 20px;
}
.content p{
    text-align: justify;
    padding: 20px;
}
.sidebar {
    width:20%;
    height: 100%;
    position: fixed;
    background-color: #55997f;
    top: 70px;
    left: -100%;
    transition: 0.7s;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li {
    border-bottom:2px solid rgba(84, 196, 196, 0.6);
    padding: 20px;
}
.sidebar ul li a {
    text-decoration :none;
    color:white;
}
.sidebar ul li a:hover {
    padding:15px 5px;
    border-left:10px solid white;
    cursor: pointer;
}
.sidebar ul li span{
    margin:10px;
    color: black;
}
.social {
    font-size:35px;
    display: flex;
    padding:10px;
    margin-top: 40%;
    border-bottom:2px solid rgba(84, 196, 196, 0.6);
    border-top:2px solid rgba(84, 196, 196, 0.6);
    justify-content: space-evenly;
    align-items: center;
}
.social a {
    border-radius: 50%;
    
}
.social .fab{
    color: white;
}
.social a:hover{
    transition: 0.4s;
    padding: 8px;
    box-shadow: 0px 0px 2px 4px white;
}
.show-btn , .hide-btn{
    font-size: 35px;
    color: white;
    position: fixed;
    top: 15px;
    left: 30px;
    transition: 0.7s;
}
.hide-btn{
    opacity: 0;
}
#chk{
    visibility: hidden;
}
#chk:checked ~ .sidebar{
    left: 0;
}
#chk:checked ~ .show-btn{
    opacity: 0;
}
#chk:checked ~ .hide-btn{
    opacity: 1;
}
#chk:checked ~ .content{
    width:80%;
    float:right;
}
@media(min-width:501px) and (max-width:750px){
    .sidebar{
        width:100%;
        text-align: center;
    }
    .social{
        margin-top:15%;
    }
    #chk:checked ~.content{
        width:100%;
    }

}

@media  (max-width:500px){
    .sidebar{
        width:100%;
        text-align: center;
    }
    .social{
        margin-top:20%;
    }
    .header h2{
        display: none;
    }
    #chk:checked ~.content{
        width:100%;
    }

}
